# ─── Aplicação ──────────────────────────────────────────
PORT=

# ─── PostgreSQL ─────────────────────────────────────────
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# ─── Prisma ─────────────────────────────────────────
DATABASE_URL="postgresql://seu_usuario:sua_senha@localhost:5432/seu_banco_de_dados?schema=public"

# ─── JWT ───────────────────────────────────────────────
JWT_SECRET=

# ─── CORS ───────────────────────────────────────────────
CORS_ORIGIN=http://localhost:${PORT}
