# ─── Aplicação ──────────────────────────────────────────
PORT=

# ─── PostgreSQL ─────────────────────────────────────────
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# ─── Prisma ─────────────────────────────────────────
DATABASE_URL="postgresql://seu_usuario:sua_senha@localhost:5432/seu_banco_de_dados?schema=public"

# ─── MongoDB (Chat) ──────────────────────────────────
MONGO_URI="mongodb://localhost:27017/orbita-chat"

# ─── JWT ───────────────────────────────────────────────
JWT_SECRET="goF7tScWWR7AIc278/hdrH9bznvH6gSi3erPlB77+ws=" # para desenvolvimento

# ─── CORS ───────────────────────────────────────────────
CORS_ORIGIN=http://localhost:${PORT}



# ─── Outros ─────────────────────────────────────────────



# Rate limiting para tickets
TICKET_CREATE_RATE_LIMIT_MAX = 3 # Máximo de 3 tickets por janela de tempo
TICKET_CREATE_RATE_LIMIT_WINDOW_MS = 60000 # 1 minuto
